
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* импортируем шрифты из google fonts, копируем эту строку из google fonts,там выбираем get embed code и во вкладке @import копируем это,чтобы подключился нужный шрифт */

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* указываем это свойство,чтобы при нажатии кнопок на телефоне задний фон кнопок не изменялся на секунду на синий*/
}

body{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #030712;
  overflow-x: hidden; /* указываем это свойство,чтобы все дочерние элементы у элемента body не были видны,если они будут за пределами этого элемента body по оси x(в данном случае указываем это для анимаций,чтобы не было нижнего скролла) */
}

.container{

  max-width: 1360px;
  padding: 0 10px;
  margin: 0 auto;

}

ul{

  list-style: none; /* убираем стили списков ul, чтобы они были без точек сбоку и тд */

}

a{
  color: inherit;  /* указываем,что цвет ссылок будет таким же,как его родительский элемент */
  text-decoration: none; /* убираем подчеркивание ссылок */
}

.sectionTop{
  padding: 166px 0;
  background-image: url('/public/images/sectionTop/elements01.jpg'); /* указываем путь до картинки таким образом,сначала указываем папку /public,а потом папку с картинками и тд,иначе не находит картинки */
  background-position: right;
  background-repeat: no-repeat;
  transform:translateX(-50%);
  opacity: 0;
  transition:all 1s ease;
}

.sectionTop__active{
  transform:translateX(0);
  opacity: 1;
}


.sectionTop__subtitle{
  border-radius: 6px;
  max-width: 138px;
  font-size: 12px;
  font-weight: 600;
  color: #166534;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right,rgba(22,163,74,50), rgba(34,197,94,0) 60%);
}

.sectionTop__title{
  font-size: 58px;
  font-weight: 700;
  color: #39245F;
  max-width: 580px;
  line-height: 63px;
  margin-bottom: 10px;
}

.sectionTop__desc{
  font-size: 16px;
  font-weight: 400;
  color: #030712;
  max-width: 472px;
  line-height: 22.4px;
  margin-bottom: 42px;
}

.sectionTop__link{
  background-color: #634C9F;
  padding: 12px 12px 12px 18px;
  display: flex;
  align-items: center;
  gap:8px;
  max-width: 136px;
  border-radius: 8px;
  position: relative;
}

.sectionTop__link::before{
  content: "";
  width: 0;
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  opacity: 0;
  transition:all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.sectionTop__link:hover{
  cursor: pointer;
}

.sectionTop__link:hover.sectionTop__link::before{
  opacity: 1;
  animation: sectionTopLinkAnim 1s linear forwards;
}

.sectionTop__link:hover .sectionTop__link-arrowImg{
  animation: sectionTopLinkArrowAnim 1s ease 1s infinite;
}

.sectionTop__link-text{
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

@keyframes sectionTopLinkAnim {
  
  0%{
    width: 0px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
  }

  50%{
    width: 69px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
  }

  100%{
    width: 137px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }

}

@keyframes sectionTopLinkArrowAnim {

  0%{
    transform:translateX(0);
  }

  50%{
    transform:translateX(60%);
  }

  70%{
    transform:translateX(-30%);
  }

  90%{
    transform:translateX(30%);
  }

  100%{
    transform:translateX(0);
  }

}

.sectionCategoryItems{
  padding: 40px 0;
  transform: translateX(50%);
  transition:all 1s ease;
  opacity: 0;
}

.sectionCategoryItems__active{
  transform: translateX(0);
  opacity: 1;
}

.sectionCategoryItems__inner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.sectionCategoryItems__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  transition:all .5s ease;
}

.sectionCategoryItems__item:hover{
  cursor: pointer;
  background-color: rgba(229,231,235,1);
}

.sectionCategoryItems__item-text{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #030712;
}

.sectionCategoryItems__item-img{
  background-color: #E5E7EB;
  border-radius: 50%;
}


.sectionNewArrivals{
  padding: 60px 0 20px;
  transform: translateX(-50%);
  transition: all 1s ease;
  opacity: 0;
}

.sectionNewArrivals__active{
  transform: translateX(0);
  opacity: 1;
}

.sectionOuterGradient{
  background-image: linear-gradient(rgba(236,235,238,1), rgba(255,255,255,0) 100%);
}

.sectionNewArrivals__top{
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionNewArrivals__title{
  font-size: 18px;
  font-weight: 700;
  color: #030712;
}

.sectionNewArrivals__top-link{
  padding: 10px 13px;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap:6px;
  transition:all .5s ease;
  background-color: #fff;
}

.sectionNewArrivals__top-link:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.sectionNewArrivals__top-link:hover .sectionNewArrivals__top-linkImg{
  animation: sectionTopLinkArrowAnim 1s ease infinite;
}

.sectionNewArrivals__top-linkText{
  font-size: 12px;
  font-weight: 700;
  color: #212529;
}

.sectionNewArrivals__items{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  background-color: #fff;
}

.sectionNewArrivals__items-item{
  position: relative;
  padding: 15px;
  transition:all .5s ease;
  border-right: 1px solid #E5E7EB;
}

.sectionNewArrivals__item-inner{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.sectionNewArrivals__items-itemFirst{
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.sectionNewArrivals__items-itemLast{
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.sectionNewArrivals__items-itemNoHover{
  background-color: #fff !important; /* указываем !important,чтобы указать,что этот стиль важный,и чтобы он переписал предыдущий такой стиль,даже если он уже указан,в данном случае указываем так,чтобы применился задний фон белый,делаем это,когда наводим мышкой на кнопку добавления товара в корзину,чтобы задний фон карточки товара стал белый */
}

.sectionNewArrivals__item-img{
  mix-blend-mode: multiply; /* указываем это картинке,чтобы у нее не было белого заднего фона,когда изменяем фон у всего item(карточки товара) */
  align-self: center;
  margin-bottom: 20px;
  max-width: 177px;
  max-height: 175px;
  min-width: 165px;
  transition:all .5s ease;
  opacity: 1;
}

.sectionNewArrivals__item-img:hover{
  cursor: pointer;
  opacity: 0.7;
}


.sectionNewArrivals__item-saleBlock{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 9px;
  background-color: #DC2626;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 2;
}

.sectionNewArrivals__item-saleBlockHot{
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 6px 9px;
  background-image: linear-gradient(to right,rgba(255,249,89,1),rgba(255,254,229,1) 70%);
  text-transform: uppercase;
  color: #0891B2;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  z-index: 2;
}

.sectionNewArrivals__items-itemNoBorder{
  border-right: none;
}

.sectionNewArrivals__item-text{
  font-size: 14px;
  font-weight: 500;
  color: #030712;
  margin-bottom: 10px;
  transition:all .5s ease;
}

.sectionNewArrivals__item-text:hover{
  cursor: pointer;
  color:#EA580C;
}

.sectionNewArrivals__item-starsBlock{
  display: flex;
  align-items: center;
  gap:7px;
  margin-bottom: 14px;
}

.starsBlock__text{
  font-size: 12px;
  font-weight: 400;
  color: #6B7280;
}

.sectionNewArrivals__item-priceBlock{
  display: flex;
  align-items: center;
  gap:7px;
}

.item__priceBlock-priceSale{
  font-size: 22px;
  font-weight: 700;
  color: #DC2626;
}

.item__priceBlock-priceUsual{
  font-size: 16px;
  font-weight: 500;
  color: #111827;
  position: relative;
}

.item__priceBlock-priceUsual::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: #111827;
  position: absolute;
  top: 10px;
  left: 0;
}

.sectionNewArrivals__cartBlock-btn{
  padding: 9px 15px;
  background-color: #fff;
  border: 1px solid #634c9f;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 13px;
  transition:all .5s ease;
}


.sectionNewArrivals__cartBlock-btn:hover{
  background-color: rgba(177, 161, 216, 0.3);
  border:1px solid #fff;
  cursor: pointer;
}

.sectionNewArrivals__cartBlock-btn:hover .cartBlock__btn-img{
  animation: cartBlockBtnImg 1s ease infinite;
}

@keyframes cartBlockBtnImg{

  0%{
    transform:translateX(0);
  }

  50%{
    transform:translateX(-60%);
  }

  70%{
    transform:translateX(30%);
  }

  90%{
    transform:translateX(-30%);
  }

  100%{
    transform:translateX(0);
  }

}

.cartBlock__btn-text{
  font-size: 13px;
  font-weight: 500;
  color: #634C9F;
}


.sectionDontMiss{
  padding: 35px 0;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease;
}

.sectionDontMiss__active{
  opacity: 1;
  transform: translateX(0);
}

.sectionDontMiss__inner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.sectionDontMiss__item{
  padding: 20px;
  border-radius: 6px;
}

.sectionDontMiss__itemProvides{
  background-image: url('/public/images/sectionDontMiss/banner-04.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemShopping{
  background-image: url('/public/images/sectionDontMiss/banner-05.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemGet{
  background-image: url('/public/images/sectionDontMiss/banner-06.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemWhere{
  background-image: url('/public/images/sectionDontMiss/banner-07.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__item-subtitle{
  font-size: 12px;
  font-weight: 500;
  color: #EA580C;
  margin-bottom: 10px;
}

.sectionDontMiss__item-title{
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
  letter-spacing: -0.8px;
}

.sectionDontMiss__item-desc{
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  margin-bottom: 20px;
}

.sectionDontMiss__item-link{
  max-width: 109px;
  margin-bottom: 200px;
}


.sectionBestSellers{
  padding: 25px 0;
}

.sectionBestSellers__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sectionBestSellers__top-leftBlock{
  display: flex;
  align-items: center;
  gap:15px;
}

.sectionBestSellers__top-title{
  font-size: 18px;
  font-weight: 700;
  color: #030712;
  text-transform: uppercase;
}

.sectionBestSellers__top-text{
  font-size: 13px;
  font-weight: 400;
  color: #9CA3AF;
  letter-spacing: -0.32px;
}

.sectionBestSellers__itemsBlock{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  align-items: center;
}

.sectionBestSellers__itemsBlockSide{
  border:1px solid #E5E7EB;
  border-radius: 8px;
}

.sectionBestSellers__itemsBlockSide-item{
  position: relative;
  border-right: none;
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  flex-direction: row;
  gap:25px;
  padding: 25px;
}

.sectionBestSellers__itemsBlockSide-itemTop{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sectionBestSellers__itemsBlockSide-itemLast{
  border-bottom: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sectionBestSellers__cartBlock-btn{
  left: auto;
  right: 20px;
  bottom: 70px;
}

.sectionBestSellers__cartBlock-btn{
  gap: 60px;
}

.sectionBestSellers__cartBlock-btnLast{
  bottom: 60px;
}

.sectionBestSellers__midBlock-item{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  border:4px solid #DC2626;
}

.sectionBestSellers__midItem-imgBlock{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionBestSellers__midBlock-itemImg{
  max-width: none;
  max-height: none;
}

.sectionBestSellers__midItem-text{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
}

.sectionBestSellers__midItem-starsBlock{
  margin-bottom: 7px;
}

.sectoinBestSellers__midBlock-itemDesc{
  font-size: 13px;
  font-weight: 400;
  color: #4B5563;
  margin-top: 28px;
  padding-bottom: 22px;
  margin-bottom: 9px;
  border-bottom: 1px solid #E5E7EB;
}

.sectionBestSellers__midBlock-itemSubDesc{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #9CA3AF;
  margin-bottom: 8px;
  margin-top: 12px;
}

.sectionBestSellers__midBlock-itemGradient{
  width: 100%;
  height: 6px;
  background-image: linear-gradient( to right, rgba(255,210,0,1),rgba(220,38,38,1));
  border-radius: 6px;
}

.sectionBestSellers__midItem-cartBtn{
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.sectionPromo{
  padding: 30px 0 90px;
}

.sectionPromo__promoTop{
  padding: 21px 31px;
  background-image: url('/public/images/sectionPromo/promoImg.png'); /* указываем путь до картинки таким образом,сначала указываем папку /public,а потом папку с картинками и тд,иначе не находит картинки */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid #FFF7ED;
  background-size: contain; /* указываем это свойство,чтобы виднелась граница блока,у которого картинка на заднем фоне,иначе не видно границы(border),даже когда ее указываешь */
}

.sectionPromo__promoTop-title{
  font-size: 22px;
  font-weight: 700;
  color: #EA580C;
}

.sectionPromo__promoTop-desc{
  font-size: 14px;
  font-weight: 400;
  color: #6B7280;
  letter-spacing: -0.32px;
}

.sectionPromo__sales{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.sectionPromo__sales-item{
  border-radius: 6px;
  padding: 33px 20px;
}

.sectionPromo__sales-itemFirst{
  background-image: url('/public/images/sectionPromo/banner-17.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__sales-itemSecond{
  background-image: url('/public/images/sectionPromo/banner-18.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__sales-itemThird{
  background-image: url('/public/images/sectionPromo/banner-19.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__item-subtitle{
  font-size: 12px;
  font-weight: 500;
  color: #EA580C;
  margin-bottom: 10px;
}

.sectionPromo__item-title{
  font-size: 22px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
  letter-spacing: -0.88px;
}

.sectionPromo__item-titleFirst{
  max-width: 211px;
}

.sectionPromo__item-titleSecond{
  max-width: 235px;
}

.sectionPromo__item-titleThird{
  max-width: 225px;
}

.sectionPromo__item-text{
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  margin-bottom: 18px;
  letter-spacing: -0.32px;
}

.sectionPromo__item-link{
  margin-bottom: 0;
}

