@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* импортируем шрифты из google fonts, копируем эту строку из google fonts,там выбираем get embed code и во вкладке @import копируем это,чтобы подключился нужный шрифт */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* указываем это свойство,чтобы при нажатии кнопок на телефоне задний фон кнопок не изменялся на секунду на синий*/
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #030712;
  overflow-x: hidden;
  /* указываем это свойство,чтобы все дочерние элементы у элемента body не были видны,если они будут за пределами этого элемента body по оси x(в данном случае указываем это для анимаций,чтобы не было нижнего скролла) */
}

.container {

  max-width: 1360px;
  padding: 0 10px;
  margin: 0 auto;

}

ul {

  list-style: none;
  /* убираем стили списков ul, чтобы они были без точек сбоку и тд */

}

a {
  color: inherit;
  /* указываем,что цвет ссылок будет таким же,как его родительский элемент */
  text-decoration: none;
  /* убираем подчеркивание ссылок */
}

/* указываем такие стили для .wrapper(блока div,который оборачивает header,main и footer),чтобы прибить header и footer,то есть чтобы header был всегда вверху,а footer всегда внизу,вне зависимости от контента на странице */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* указываем,чтобы минимальная высота была 100vh(viewport height,то есть максимальной высоты экрана) */
}

/* указываем такие стили для .main,чтобы прибить header и footer,то есть чтобы header был всегда вверху,а footer всегда внизу,вне зависимости от контента на странице */
.main {
  flex-grow: 1;
  /* указываем этот стиль,чтобы main растянулся и занял полную середину экрана */
}

.sectionTop {
  padding: 166px 0;
  background-image: url('/public/images/sectionTop/elements01.jpg');
  /* указываем путь до картинки таким образом,сначала указываем папку /public,а потом папку с картинками и тд,иначе не находит картинки */
  background-position: right;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s ease;
}

.sectionTop__active {
  transform: translateX(0);
  opacity: 1;
}


.sectionTop__subtitle {
  border-radius: 6px;
  max-width: 138px;
  font-size: 12px;
  font-weight: 600;
  color: #166534;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgba(22, 163, 74, 50), rgba(34, 197, 94, 0) 60%);
}

.sectionTop__title {
  font-size: 58px;
  font-weight: 700;
  color: #39245F;
  max-width: 580px;
  line-height: 63px;
  margin-bottom: 10px;
}

.sectionTop__desc {
  font-size: 16px;
  font-weight: 400;
  color: #030712;
  max-width: 472px;
  line-height: 22.4px;
  margin-bottom: 42px;
}

.sectionTop__link {
  background-color: #634C9F;
  padding: 12px 12px 12px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 136px;
  border-radius: 8px;
  position: relative;
}

.sectionTop__link::before {
  content: "";
  width: 0;
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  opacity: 0;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.sectionTop__link:hover {
  cursor: pointer;
}

.sectionTop__link:hover.sectionTop__link::before {
  opacity: 1;
  animation: sectionTopLinkAnim 1s linear forwards;
}

.sectionTop__link:hover .sectionTop__link-arrowImg {
  animation: sectionTopLinkArrowAnim 1s ease 1s infinite;
}

.sectionTop__link-text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

@keyframes sectionTopLinkAnim {

  0% {
    width: 0px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
  }

  50% {
    width: 69px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
  }

  100% {
    width: 137px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }

}

@keyframes sectionTopLinkArrowAnim {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(60%);
  }

  70% {
    transform: translateX(-30%);
  }

  90% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0);
  }

}

.sectionCategoryItems {
  padding: 40px 0;
  transform: translateX(50%);
  transition: all 1s ease;
  opacity: 0;
}

.sectionCategoryItems__active {
  transform: translateX(0);
  opacity: 1;
}

.sectionCategoryItems__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.sectionCategoryItems__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  transition: all .5s ease;
}

.sectionCategoryItems__item:hover {
  cursor: pointer;
  background-color: rgba(229, 231, 235, 1);
}

.sectionCategoryItems__item-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #030712;
}

.sectionCategoryItems__item-img {
  background-color: #E5E7EB;
  border-radius: 50%;
}


.sectionNewArrivals {
  padding: 60px 0 20px;
  transform: translateX(-50%);
  transition: all 1s ease;
  opacity: 0;
}

.sectionNewArrivalsProductPage{
  padding:0;
  margin: 60px 0 80px;
  transform: translateX(50%);
  transition: all 1s ease;
  opacity: 0;
}

.sectionNewArrivals__active {
  transform: translateX(0);
  opacity: 1;
}



.sectionOuterGradient {
  background-image: linear-gradient(rgba(236, 235, 238, 1), rgba(255, 255, 255, 0) 100%);
  width: 100vw;
}

.sectionNewArrivals__top {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionNewArrivals__title {
  font-size: 18px;
  font-weight: 700;
  color: #030712;
}

.sectionNewArrivals__top-link {
  padding: 10px 13px;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all .5s ease;
  background-color: #fff;
}

.sectionNewArrivals__top-link:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.sectionNewArrivals__top-link:hover .sectionNewArrivals__top-linkImg {
  animation: sectionTopLinkArrowAnim 1s ease infinite;
}

.sectionNewArrivals__top-linkText {
  font-size: 12px;
  font-weight: 700;
  color: #212529;
}

.sectionNewArrivals__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  /* указываем этому блоку для всех items границы(border) сверху,снизу и слева,а самому item указываем границу справа,чтобы не было двойных границ */
  border-top: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
  border-left: 1px solid #E5E7EB;
  border-radius: 8px;
  background-color: #fff;
}

.sectionNewArrivals__items-item {
  position: relative;
  padding: 15px;
  transition: all .5s ease;
  border-right: 1px solid #E5E7EB;
}

.sectionNewArrivals__item-inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.sectionNewArrivals__items-itemFirst {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

/* используем тут модификатор nth-child(),чтобы указать определенному item с таким классом по счету(в данном случае 3) радиус правой границы border-bottom-right-radius и тд */
.sectionNewArrivals__items-itemFirst:nth-child(5) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sectionNewArrivals__items-itemLast {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.sectionNewArrivals__items-itemNoHover {
  background-color: #fff !important;
  /* указываем !important,чтобы указать,что этот стиль важный,и чтобы он переписал предыдущий такой стиль,даже если он уже указан,в данном случае указываем так,чтобы применился задний фон белый,делаем это,когда наводим мышкой на кнопку добавления товара в корзину,чтобы задний фон карточки товара стал белый */
}

.sectionNewArrivals__item-img {
  mix-blend-mode: multiply;
  /* указываем это картинке,чтобы у нее не было белого заднего фона,когда изменяем фон у всего item(карточки товара) */
  align-self: center;
  margin-bottom: 20px;
  max-width: 177px;
  max-height: 175px;
  min-width: 165px;
  transition: all .5s ease;
  opacity: 1;
}

.sectionNewArrivals__item-img:hover {
  cursor: pointer;
  opacity: 0.7;
}


.sectionNewArrivals__item-saleBlock {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 9px;
  background-color: #DC2626;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 2;
}

.sectionNewArrivals__item-saleBlockHot {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 6px 9px;
  background-image: linear-gradient(to right, rgba(255, 249, 89, 1), rgba(255, 254, 229, 1) 70%);
  text-transform: uppercase;
  color: #0891B2;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  z-index: 2;
}

.sectionNewArrivals__items-itemNoBorder {
  border-right: none;
}

.sectionNewArrivals__item-text {
  font-size: 14px;
  font-weight: 500;
  color: #030712;
  transition: all .5s ease;
  margin-bottom: 10px;
  max-height: 35px;
  max-width: 202px;
  overflow: hidden;
}

.sectionNewArrivals__item-textSpan {
  align-self: end;
}

.sectionNewArrivals__item-text:hover {
  cursor: pointer;
  color: #EA580C;
}

.sectionNewArrivals__item-starsBlock {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 14px;
}

.starsBlock__text {
  font-size: 12px;
  font-weight: 400;
  color: #6B7280;
}

.sectionNewArrivals__item-priceBlock {
  display: flex;
  align-items: center;
  gap: 7px;
}

.item__priceBlock-priceSale {
  font-size: 22px;
  font-weight: 700;
  color: #DC2626;
}

.item__priceBlock-priceUsualDefault {
  font-size: 22px;
  font-weight: 500;
  color: #111827;
}

.item__priceBlock-priceUsual {
  font-size: 16px;
  font-weight: 500;
  color: #111827;
  position: relative;
}

.item__priceBlock-priceUsual::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #111827;
  position: absolute;
  top: 10px;
  left: 0;
}

.sectionNewArrivals__cartBlock-btn {
  padding: 9px 15px;
  background-color: #fff;
  border: 1px solid #634c9f;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 13px;
  transition: all .5s ease;
}


.sectionNewArrivals__cartBlock-btn:hover {
  background-color: rgba(177, 161, 216, 0.3);
  border: 1px solid #fff;
  cursor: pointer;
}

.sectionNewArrivals__cartBlock-btn:hover .cartBlock__btn-img {
  animation: cartBlockBtnImg 1s ease infinite;
}

@keyframes cartBlockBtnImg {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60%);
  }

  70% {
    transform: translateX(30%);
  }

  90% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0);
  }

}

.cartBlock__btn-text {
  font-size: 13px;
  font-weight: 500;
  color: #634C9F;
}


.sectionDontMiss {
  padding: 35px 0;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease;
}

.sectionDontMiss__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionDontMiss__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.sectionDontMiss__item {
  padding: 20px;
  border-radius: 6px;
}

.sectionDontMiss__itemProvides {
  background-image: url('/public/images/sectionDontMiss/banner-04.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemShopping {
  background-image: url('/public/images/sectionDontMiss/banner-05.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemGet {
  background-image: url('/public/images/sectionDontMiss/banner-06.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__itemWhere {
  background-image: url('/public/images/sectionDontMiss/banner-07.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionDontMiss__item-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #EA580C;
  margin-bottom: 10px;
}

.sectionDontMiss__item-title {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 10px;
  letter-spacing: -0.8px;
}

.sectionDontMiss__item-desc {
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  margin-bottom: 20px;
}

.sectionDontMiss__item-link {
  max-width: 109px;
  margin-bottom: 200px;
}


.sectionBestSellers {
  padding: 25px 0;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.sectionBestSellers__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionBestSellers__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sectionBestSellers__top-leftBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sectionBestSellers__top-title {
  font-size: 18px;
  font-weight: 700;
  color: #030712;
  text-transform: uppercase;
}

.sectionBestSellers__top-text {
  font-size: 13px;
  font-weight: 400;
  color: #9CA3AF;
  letter-spacing: -0.32px;
}

.sectionBestSellers__itemsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.sectionBestSellers__itemsBlockSide {
  border-top: 1px solid #E5E7EB;
  border-left: 1px solid #E5E7EB;
  border-right: 1px solid #E5E7EB;
  border-radius: 8px;
  background-color: #FAFAFA;
  /* указываем задний фон этому item,иначе не убирается задний белый фон у картинок,даже с включенным mix-blend-mode:multiply */
}



.sectionBestSellers__itemsBlockSideLeft {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
  transition-delay: .5s;
  /* указываем задержку по времени перед анимацией */
}

.sectionBestSellers__itemsBlockSideLeft-active {
  opacity: 1;
  transform: translateX(0);
}

.sectionBestSellers__itemsBlockSideRight {
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease;
  transition-delay: 1s;
  /* указываем задержку по времени перед анимацией */
}

.sectionBestSellers__itemsBlockSideRight-active {
  opacity: 1;
  transform: translateX(0);
}

.sectionBestSellers__itemsBlock-midBlockPassive {
  background-color: #FAFAFA;
  opacity: 0;
  transform: translateY(-30%);
  transition: all 1s ease;
  transition-delay: 2s;
  /* указываем задержку по времени перед анимацией */
}

.sectionBestSellers__itemsBlock-midBlock--active {
  opacity: 1;
  transform: translateY(0);
}


.sectionBestSellers__itemsBlockSide-item {
  position: relative;
  border-right: none;
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 25px;
}

/* используем тут модификатор nth-child(),чтобы указать определенному item с таким классом по счету(в данном случае 3) радиус нижней границы border-bottom-right-radius и тд */
.sectionBestSellers__itemsBlockSide-item:nth-child(3) {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sectionBestSellers__itemsBlockSide-itemTop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sectionBestSellers__itemsBlockSide-itemLast {
  border-bottom: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sectionBestSellers__item-infoBlock-text {
  max-height: 50px;
}

.sectionBestSellers__cartBlock-btn {
  left: auto;
  right: 20px;
  bottom: 70px;
}

.sectionBestSellers__cartBlock-btn {
  gap: 60px;
}

.sectionBestSellers__cartBlock-btnLast {
  bottom: 60px;
}

.sectionBestSellers__midBlock-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  border: 4px solid #DC2626;
}

.sectionBestSellers__midItem-imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionBestSellers__midBlock-itemImg {
  max-width: none;
  max-height: none;
}

.sectionBestSellers__midItem-text {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
  max-width: 379px;
}

.sectionBestSellers__midItem-starsBlock {
  margin-bottom: 7px;
}

.sectoinBestSellers__midBlock-itemDesc {
  font-size: 13px;
  font-weight: 400;
  color: #4B5563;
  margin-top: 28px;
  padding-bottom: 22px;
  margin-bottom: 9px;
  border-bottom: 1px solid #E5E7EB;
}

.sectionBestSellers__midBlock-itemSubDesc {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #9CA3AF;
  margin-bottom: 8px;
  margin-top: 12px;
}

.sectionBestSellers__midBlock-itemGradient {
  width: 100%;
  height: 6px;
  background-image: linear-gradient(to right, rgba(255, 210, 0, 1), rgba(220, 38, 38, 1));
  border-radius: 6px;
}

.sectionBestSellers__midItem-cartBtn {
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.sectionPromo {
  padding: 30px 0 90px;
}

.sectionPromo__promoTop {
  padding: 21px 31px;
  background-image: url('/public/images/sectionPromo/promoImg.png');
  /* указываем путь до картинки таким образом,сначала указываем папку /public,а потом папку с картинками и тд,иначе не находит картинки */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 6px;
  border: 1px solid #FFF7ED;
  background-size: contain;
  /* указываем это свойство,чтобы виднелась граница блока,у которого картинка на заднем фоне,иначе не видно границы(border),даже когда ее указываешь */
}

.sectionPromo__promoTop-title {
  font-size: 22px;
  font-weight: 700;
  color: #EA580C;
}

.sectionPromo__promoTop-desc {
  font-size: 14px;
  font-weight: 400;
  color: #6B7280;
  letter-spacing: -0.32px;
}

.sectionPromo__sales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sectionPromo__sales-item {
  border-radius: 6px;
  padding: 33px 20px;
}

.sectionPromo__sales-itemFirst {
  background-image: url('/public/images/sectionPromo/banner-17.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__sales-itemSecond {
  background-image: url('/public/images/sectionPromo/banner-18.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__sales-itemThird {
  background-image: url('/public/images/sectionPromo/banner-19.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.sectionPromo__item-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #EA580C;
  margin-bottom: 10px;
}

.sectionPromo__item-title {
  font-size: 22px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
  letter-spacing: -0.88px;
}

.sectionPromo__item-titleFirst {
  max-width: 211px;
}

.sectionPromo__item-titleSecond {
  max-width: 235px;
}

.sectionPromo__item-titleThird {
  max-width: 225px;
}

.sectionPromo__item-text {
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  margin-bottom: 18px;
  letter-spacing: -0.32px;
}

.sectionPromo__item-link {
  margin-bottom: 0;
}

.sectionCatalog {
  padding: 10px 0 60px;
}

.sectionCatalog__topBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.sectionCatalog__topBlock-title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #9CA3AF;
}

.sectionCatalog__topBlock-subtitle {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #030712;
}

.filterBar__categories-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  color: #030712;
  margin-bottom: 20px;
}

.sectionCatalog__mainBlock {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 45px;
}

.sectionCatalog__filterBar-categories {
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E7EB;
}

.filterBar__categories-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
  cursor: pointer;
  max-width: 220px;
}

.categories__label-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* указываем это свойство,чтобы обрезать видимость элемента и указываем значения в скобках rect() top right bottom left,эти значения указывают расстояние от соответсвующего края элемента,все,что не помещается в эту область будет обрезано и не видно   */
}

.categories__label-radioStyle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all .5s ease;
}

.categories__label-radioStyle--active {
  border: 1px solid #634C9F;
}

.label__radioStyle-before {
  opacity: 0;
  transition: opacity .5s ease;
}

.label__radioStyle-before--active {
  opacity: 1;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #634C9F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.filterBar__categories-label:hover .categories__label-radioStyle {
  border: 1px solid #634c9f;
}

.filterBar__categories-label:hover .categories__label-text {
  color: rgba(99, 76, 159, 0.8);
}

.filterBar__categories-label:hover .categories__label-text--active {
  color: rgba(99, 76, 159, 1);
}

.categories__label-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #030712;
  margin-left: 28px;
  transition: all .5s ease;
}

.categories__label-text--active {
  color: #634C9F;
}

.categories__label-amount {
  font-size: 14px;
  color: #808080;
  opacity: 1;
  transition: all .5s ease;
}

.categories__label-amountDisable {
  opacity: 0;
}


.filterBar__priceFilterBlock {
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E7EB;
}

.priceFilterBlock__title {
  margin-bottom: 20px;
}

.priceFilterBlock__inputRangeSlider {
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
}

/* стили для всей полоски инпута range у ReactSlider */
.priceFilterBlock__inputRangeSlider .inputRangeSlider__track {
  height: 3px;
}

.priceFilterBlock__inputRangeSlider .inputRangeSlider__track:hover {
  cursor: pointer;
}

/* стили для полоски до первого ползунка */
.inputRangeSlider__track.inputRangeSlider__track-0 {
  background-color: #D1D5DB;
  border-radius: 10px;
}

/* стили для полоски между ползунками */
.inputRangeSlider__track.inputRangeSlider__track-1 {
  background-color: #111827;
}

/* стили для полоски после второго ползунка */
.inputRangeSlider__track.inputRangeSlider__track-2 {
  background-color: #D1D5DB;
  border-radius: 10px;
}

/* стили для 1 ползунка инпута(слайдера) */
.priceFilterBlock__inputRangeSlider .inputRangeSlider__thumb {
  top: -5px;
  width: 14px;
  height: 14px;
  background-color: #111827;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  /* указываем это свойство,чтобы не были видны цифры внутри кнопки ползунка,которые по дефолту есть в ReactSlider */
}

.priceFilterBlock__text {
  font-size: 14px;
  font-weight: 400;
  color: #030712;
  letter-spacing: -0.32px;
}


.sectionCatalog__productsBlock-searchBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productsBlock__searchBlock-input {
  padding: 14.5px 43px 14.5px 18px;
  border-radius: 8px;
  background-color: #F3F4F6;
  border: none;
  outline: none;
  min-width: 300px;
}

.productsBlock__searchBlock-input::placeholder {
  letter-spacing: -0.28px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #6B7280;
}

.productsBlock__searchBlock-inputBlock {
  position: relative;
}

.innerForLoader {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed #3589c2;
  animation: rotate 1s infinite ease;
}

@keyframes rotate {

  0% {

    transform: rotate(0deg) scale(1);

  }

  100% {

    transform: rotate(360deg) scale(1.2);

  }

}

.productsBlock__notFoundText {
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #020617;
  letter-spacing: -0.32px;
}


.searchBlock__inputBlock-inputImg {
  position: absolute;
  top: 11px;
  right: 12px;
}

.searchBlock__sortBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sortBlock__text {
  font-size: 16px;
  font-weight: 400;
  color: #020617;
  letter-spacing: -0.24px;
}

.sortBlock__inner {
  position: relative;
}

.sortBlock__topBlock {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  padding: 14px 18px;
  background-color: #F3F4F6;
  cursor: pointer;
  border-radius: 6px;
  min-width: 220px;
  min-height: 45px;
}

.sortBlock__topBlock-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #9CA3AF;
  opacity: 0;
  transition: all .5s ease;
}

.sortBlock__topBlock-text--active {
  opacity: 1;
}



.sortBlock__topBlock-img {
  transform: rotate(0deg);
  transition: all .5s ease;
}

.sortBlock__topBlock-img--active {
  transform: rotate(180deg);
}

.sortBlock__optionsBlock {
  max-height: 0;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
  z-index: -2;
  overflow: hidden;
  /* указываем это свойство,чтобы все,что заходит за границы этого блока скрывалось(то есть все элементы,которые в html есть у этого блока), в данном случае,для анимации,когда уменьшаем высоту этого блока,чтобы текст не показывался ниже этого блока */
}

.sortBlock__optionsBlock--active {
  max-height: 100px;
  opacity: 1;
  z-index: 5;
}

.sortBlock__optionsBlock-item {
  padding: 12px 0 10px 10px;
  transition: all .5s ease;
}

.sortBlock__optionsBlock-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.optionsBlock__item-text {
  font-size: 14px;
  font-weight: 400;
  color: #020617;
  letter-spacing: -0.32px;
}

.sectionCatalog__productsBlock-products {
  margin-top: 20px;
}

.productsBlock__filtersBlock {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid #F3F4F6;
  border-bottom: 1px solid #F3F4F6;
}

.productsBlock__filtersBlock-leftBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filtersBlock__leftBlock-item {
  display: flex;
  align-items: center;
  gap: 5px;
  animation: appear 1s ease forwards;
}

.filtersBlock__leftBlock-text,
.filtersBlock__amountBlock-text {
  font-size: 14px;
  font-weight: 400;
  color: #020617;
  letter-spacing: -0.24px;
}

.filtersBlock__item-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #555555;
  animation: appear 1s ease forwards;
}

.filtersBlock__item-btn {
  background-color: #fff;
  border: none;
  align-self: end;
  transition: opacity .5s ease;
}

.filtersBlock__item-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.productsBlock__filtersBlock-amountBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filtersBlock__amountBlock-amount {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.sectionCatalog__productsBlock-productsItems {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.sectionCatalog__productsItems-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* указываем в данном случае этот стиль,чтобы товары стали одинаковыми по размеру и растянулись ровно,даже если у них разная длинна названия и тд */
  gap: 0;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  padding: 20px;
}

.sectionCatalog__productsItem-itemImg {
  margin-bottom: 5px;
}

.productsBlock__pagination {
  margin: 30px 0 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
}

.pagination__btnLeft,
.pagination__btnRight {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  padding: 6px 12px;
  transition: all .5s ease;
}

.pagination__btnLeft:hover,
.pagination__btnRight:hover {
  cursor: pointer;
  background-color: rgba(99, 76, 159, 0.3);
}

.pagination__btnLeft {
  margin-right: 5px;
}

.pagination__btnRight {
  margin-left: 5px;
}

.pagination__item {
  background-color: #F3F4F6;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #030712;
  max-height: 31px;
  transition: all .5s ease;
}

.pagination__item--active {
  background-color: #634C9F;
  color: #fff;
}

.pagination__item:hover {
  cursor: pointer;
  background-color: rgba(99, 76, 159, 0.5);
  color: #fff;
}


.sectionProductItemPage {
  padding: 0;
  padding-top: 10px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.sectionProductItemPage__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionProductItemPage__itemBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 100px;
}

.sectionProductItemPage__itemBlock-imgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sectionProductItemPage__infoBlock-title {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.76px;
  color: #030712;
  margin-bottom: 15px;
}

.sectionProductItemPage__infoBlock-desc {
  margin-top: 16px;
  padding-top: 22px;
  border-top: 1px solid #E5E7EB;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #4B5563;
  margin-bottom: 27px;
}

.sectionProductItemPage__infoBlock-inputBlock {
  margin-top: 21px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoBlock__inputBlock-leftInputBlock {
  position: relative;
}

.infoBlock__inputBlock-input {
  padding: 14.5px 38px;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  text-align: center;
  max-width: 114px;
  outline: none;
}

/* убираем стрелки вверх и вниз для инпута с типом number по умолчанию */
.infoBlock__inputBlock-input::-webkit-inner-spin-button,
.infoBlock__inputBlock-input::-webkit-outer-spin-button {
  appearance: none;
}

.infoBlock__inputBlock-btn {
  background-color: #fff;
  border: none;
  position: absolute;
  transition: all .5s ease;
  cursor: pointer;
}

.infoBlock__inputBlock-btn:hover {
  opacity: 0.5;
}

.infoBlock__inputBlock-btn--plus {
  top: 17.5px;
  right: 12.5px;
}

.infoBlock__inputBlock-btn--minus {
  top: 12.5px;
  left: 12.5px;
}

.infoBlock__inputBlock-cartBtn {
  padding: 15px 33px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background-color: #16a34a;
  border: none;
  transition: all .5s ease;
}

.infoBlock__inputBlock-cartBtn:hover {
  background-color: #0bca51;
  cursor: pointer;
}

.infoBlock__inputBlock-cartBtn:hover .inputBlock__cartBtn-img {
  animation: cartBtnImgAnim 1s ease infinite;
}

@keyframes cartBtnImgAnim {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-60%);
  }

  70% {
    transform: translateX(30%);
  }

  90% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0);
  }

}

.inputBlock__cartBtn-text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.28px;
  font-family: 'Inter', sans-serif;
}

.sectionProductItemPage__infoBlock-subInfoBlock {
  margin-top: 32px;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
}

.infoBlock__subInfoBlock-topBlock {
  padding: 14px 21px;
  display: flex;
  align-items: start;
  gap: 30px;
}

.infoBlock__subInfoBlock-bottomBlock {
  border-top: 1px solid #E5E7EB;
}

.subInfoBlock__topBlock-img {
  margin-top: 5px;
}

.subInfoBlock__topBlock-text {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #6B7280;
  line-height: 19.5px;
}

.subInfoBlock__topBlock-textSpan {
  font-weight: 700;
}

/* стили для слайдера swiper,названия классов у него по дефолту одни и те же */
.swiper {
  max-width: 660px;
  height: 400px;
  position: relative;
}

/* стили для кнопки навигации следующего слайда,в данном случае убираем ее видимость,так как она не нужна в данном дизайне */
.swiper .swiper-button-next {
  display: none;
}

/* стили для кнопки навигации предыдущего слайда,в данном случае убираем ее видимость,так как она не нужна в данном дизайне */
.swiper .swiper-button-prev {
  display: none;
}

.swiper-slide {
  display: flex !important;
  /* указываем !important,чтобы перебить предыдущие стили(чтобы наши заработали),которые были применены до этого по дефолту к этому слайдеру */
  align-items: center;
  justify-content: center;
}

.sectionProductItemPage__imgBlock-img {
  max-width: 211px;
}

.sliderBlock__previewSlider-slide {
  max-width: 73px;
}

.sectionProductItemPage__sliderBlock-previewSlider {
  max-height: 85px;
}

.sliderBlock__previewSliderBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionProductItemPage__sliderBlock__sliderPreview {
  max-width: 75px;
  /* указываем максимальную ширину на 2px больше,чем для картинки,чтобы было место на границу этого слайда */
}

.sectionProductItemPage__sliderBlock__sliderPreview:hover {
  cursor: pointer;
}

.sectionProductItemPage__imgBlock-imgSliderPreview {
  max-width: 73px;
  max-height: 75px;
}

.swiper-slide-thumb-active {
  border: 1px solid #111827;
  border-radius: 8px;
}


.sectionProductItemPage__descBlock-tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 22px;
}

.descBlock__tabs-btn {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: #030712;
  border: none;
  padding-bottom: 21px;
  transition: opacity .5s ease;
  max-height: 41px;
  /* указываем максимальную высоту для кнопки таба,чтобы при добавлении ей границы(border) снизу ее высота не менялась и она не прыгала */
}

.descBlock__tabs-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.descBlock__tabs-btn--active {
  border-bottom: 2px solid #166534;
}

/* указываем активной кнопке таба(основному классу кнопки и активному вместе) при наведении прозрачность(opacity) 1,чтобы для активной кнопки не работала анимация прозрачности(opacity),чтобы она не менялась при наведении */
.descBlock__tabs-btn.descBlock__tabs-btn--active:hover {
  opacity: 1;
}

.descBlock__desc-inner,
.descBlock__reviews-inner {
  animation: appear 1s ease forwards;
}

.descBlock__desc-descText,
.descBlock__desc-subText {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 24px;
}

.descBlock__desc-subText {
  margin-top: 20px;
}

.descBlock__reviews-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.reviews__leftBlock-text {
  font-size: 16px;
  font-weight: 600;
  color: #020617;
  letter-spacing: -0.32px;
}

.reviews__leftBlock-comments{
  min-height: 272px;
}


.reviews__rightBlock-btnBlock {
  display: flex;
  justify-content: end;
}

.reviews__rightBlock-btnBlock--disabled {
  display: none;
}

.reviews__btnBlock-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #16a34a;
  border: none;
  transition: all .5s ease;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.28px;
}

.reviews__btnBlock-btn:hover {
  cursor: pointer;
  background-color: #0bca51;
}

.reviews__form {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.reviews__formAnswer{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.reviews__form--active {
  opacity: 1;
  transform: translateX(0);
}

.form__mainBlock-bottomBlock{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__form-topBlock {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.reviews__form-topBlockInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__topBlockInfo-text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #030712;
}

.reviews__form-starsBlock {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 5px;
}

.reviews__starsImg {
  min-width: 14px;
}

.form__starsBlock-btn {
  background-color: #fff;
  border: none;
  transition: opacity .5s ease;
}

.form__starsBlock-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form__mainBlock-textarea {
  padding: 15px 15px 20px 15px;
  outline: none;
  resize: none;
  /* убираем возможность изменять размер textarea */
  width: 100%;
  border: 1px solid #E5E7EB;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

.formErrorText {
  margin-bottom: 10px;
  color: #EE5858;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  max-width: 440px;
}

.reviews__leftBlock-item {
  margin-bottom: 30px;
}

.reviews__item-topBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__item-topBlockLeftInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews__item-infoName {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #030712;
}

.reviews__item-topBlockTime {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}

.reviews__item-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #4B5563;
}

.reviews__item-starsBlock {
  gap: 2px;
}

.reviews__item-blockAdminComment{
  margin-left: 30px;
  margin-top: 15px;
}

.reviews__item-topBlockReply{
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.reviews__item-btnAnswer{
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #fff;
  border:none;
  font-family: 'Inter',sans-serif;
  opacity: 1;
  transition:opacity .5s ease;
}

.reviews__item-blockAnswer{
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
}

.reviews__item-btnAnswer:hover{
  cursor: pointer;
  opacity: 0.5;
}


.sectionUserPageTop {
  padding-bottom: 20px;
  padding-top: 0;
  border-bottom: 1px solid #E5E7EB;
}

.sectionUserPageTop__topBlock {
  margin-bottom: 0;
}

.sectionSignUp {
  padding: 105px 0;
}

.sectionSignUp__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionSignUp__signUpBlock {
  min-width: 450px;
}

.signUpBlock__signInMainForm {
  animation: appear 1s ease forwards;
}

.sectionSignUp__signUpBlock_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.signUpBlock__tabs-btn {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.32px;
  color: #9CA3AF;
  border: none;
  transition: all .5s ease;
}

.signUpBlock__tabs-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.signUpBlock__tabs-btn--active {
  color: #111827;
}

.signUpBlock__tabs-btn--active:hover {
  opacity: 1;
}

.signInMainForm__inputEmailBlock {
  margin-bottom: 20px;
  position: relative;
}

.signInMainForm__inputEmailBlock-input {
  padding: 12px 12px 12px 40px;
  width: 100%;
  border: 1px solid #D1D5DB;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  outline: none;
}

.signInMainForm__inputPasswordBlock-input {
  padding: 12px 36px 12px 40px;
}

.signInMainForm__inputEmailBlock-img {
  position: absolute;
  top: 9px;
  left: 10px;
}

.inputEmailBlock__btn {
  background-color: #fff;
  border: none;
  opacity: 1;
  transition: opacity .5s ease;
  position: absolute;
  top: 11px;
  right: 10px;
  max-height: 21px;
}

.inputEmailBlock__btn:hover {
  cursor: pointer;
  opacity: 0.5;
}


.signInMainForm__btn {
  background-color: #634C9F;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  transition: all .5s ease;
}

.signInMainForm__btn:hover {
  cursor: pointer;
  background-color: #7a5dc4;
}

.sectionUserPage {
  margin: 25px 0 60px;
}

.sectionUserPage__inner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
}

.sectionUserPage__leftBar {
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionUserPage__menu-btn {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  transition: all .5s ease;
}

.sectionUserPage__menu-btn:hover {
  cursor: pointer;
  background-color: rgba(99, 76, 159, 0.8);
}

.sectionUserPage__menu-btn:hover .sectionUserPage__menu-btnText {
  color: #fff;
}

.sectionUserPage__menu-btn--active {
  background-color: rgb(99, 76, 159);
}

.sectionUserPage__menu-btn--active:hover {
  background-color: rgb(99, 76, 159);
}

.sectionUserPage__menu-btn--active .sectionUserPage__menu-btnText {
  color: #fff;
}

.sectionUserPage__menu-btnText {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: #030712;
  transition: all .5s ease;
}

.sectionUserPage__menu-btnLogout {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sectionUserPage__menu-btnDashboard {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sectionUserPage__mainBlock-inner {
  padding: 20px;
  animation: appear 1s ease forwards;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
}

.sectionUserPage__mainBlock-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionUserPage__dashboard-title {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #030712;
  letter-spacing: -0.32px;
}

.sectionUserPage__dashboard-text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  margin: 5px 0 10px;
}

.sectionUserPage__dashboard-btn {
  background-color: #fff;
  border: none;
  color: #35b901;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  opacity: 1;
  transition:opacity .5s ease;
}

.sectionUserPage__dashboard-btn:hover{
  cursor: pointer;
  opacity: 0.7;
}

.sectionCart__inner{
  padding:40px 0 120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.sectionCart__table{
  border:1px solid #E5E7EB;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.sectionCart__table-names{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
  padding-bottom: 20px;
  gap:20px;
}

.sectionCart__table-name{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.28px;
}


.sectionCart__table-bottomBlock{
  padding: 20px 0;
  border-top:1px solid #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionCart__table-bottomBlockClearBtn{
  padding: 8px 16px;
  border-radius: 6px;
  color: #fff;
  background-color: #333333;
  border: none;
  font-family: 'Inter',sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  opacity: 1;
  transition:all .5s ease;
}

.sectionCart__table-bottomBlockClearBtn:hover{
  cursor: pointer;
  background-color: #ebebeb;
  color: #333333;
}

.sectionCart__table-bottomBlockUpdateBtn{
  background-color: #ebebeb;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-family: 'Inter',sans-serif;
  transition:all .5s ease;
}

.sectionCart__table-bottomBlockUpdateBtn:hover{
  cursor: pointer;
  background-color: #333333;
  color: #ebebeb;
}

.sectionCart__bill{
  border:1px solid #E5E7EB;
  border-radius: 6px;
}

.bill__topBlock{
  padding: 20px 20px 9px 20px;
}

.bill__topBlock-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.bill__topBlock-itemText{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

.bill__topBlock-itemSubText{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

.bill__topBlock-itemTextGrey,
.bill__topBlock-itemSubTextGrey{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  color: #828282;
}

.bill__bottomBlock{
  border-top: 1px solid #E5E7EB;
  padding: 16px 20px 20px 20px;
}

.bill__bottomBlock-item{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.bill__bottomBlock-itemText{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

.bill__bottomBlock-itemSubText{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

.bill__bottomBlock-btn{
  padding: 15px 0;
  background-color: #634C9F;
  border:none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter',sans-serif;
  letter-spacing: -0.28px;
  width: 100%;
  border-radius: 8px;
  transition:all .5s ease;
}

.bill__bottomBlock-btn:hover{
  cursor: pointer;
  background-color: #7a5dc4;
}


.sectionCart__table-item{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap:20px;
  border-top: 1px solid #E5E7EB;
  padding: 20px 0;
}

.sectionCart__item-leftBlock{
  display: flex;
  align-items: center;
  gap:16px;
}

.sectionCart__item-img{
  max-width: 120px;
  transition:opacity .5s ease;
}

.sectionCart__item-img:hover{
  cursor: pointer;
  opacity: 0.7;
}

.sectionCart__item-saleBlock{
  padding: 3px 6px;
  left: 4px;
  top: 5px;
}

.sectionCart__item-saleBlockHot{
  padding: 3px 6px;
  top: 35px;
  left: 4px;
}

.sectionCart__item-leftBlockInfoName{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.28px;
  transition:all .5s ease;
  margin-bottom: 5px;
}

.sectionCart__item-leftBlockInfoName:hover{
  color: #FF9F0D;
  cursor: pointer;
}

.sectionCart__item-priceSale{
  font-size: 18px;
}

.sectionCart__item-totalPrice{
  font-size: 16px;
  font-weight: 600;
}

.sectionCart__item-removeBtn{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 1;
  transition:opacity .5s ease;
}

.sectionCart__item-removeBtn:hover{
  cursor: pointer;
  opacity: 0.5;
}

.sectionCart__item-inputBlock{
  margin-top: 0;
}

.sectionCart__item-starsBlock{
  margin-bottom: 0;
}

.textEmptyCart{
  border-top:1px solid #E5E7EB;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.28px;
}

.textAlreadyInCart{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.28px;
  color: #808080;
}

.sectionCart__table-productsBlock{
  min-height: 484px;
}

.item__priceBlock-priceUsualDefaultCart{
  font-size: 16px;
  font-weight: 500;
}

.sectionUserPage__mainBlock-accSettings{
  border: none;
  padding: 0;
  border-radius: 0;
}

.sectionUserPage__mainBlock-formInfo{
  border:1px solid #E5E7EB;
  border-radius: 6px;
}

.sectionUserPage__formInfo-title{
  font-weight: 500;
  font-size: 18px;
  padding: 16px 24px;
  border-bottom: 1px solid #E5E7EB;
  letter-spacing: -0.32px;
}

.sectionUserPage__formInfo-main{
  padding: 20px;
}

.sectionUserPage__formInfo-itemText{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  margin-bottom: 6px;
}

.sectionUserPage__formInfo-itemInput{
  padding: 14px 35px 16px 16px;
  border: 1px solid #E5E7EB;
  outline: none;
  width: 100%;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

.sectionUserPage__formInfo-item{
  margin-bottom: 15px;
}

.sectionUserPage__formInfo-itemInput::placeholder{
  font-family: 'Inter',sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.sectionUserPage__formInfo-btn{
  padding: 12px 18px;
  border:none;
  color: #fff;
  font-family: 'Inter',sans-serif;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  background-color: #16a34a;
  border-radius: 6px;
  transition:all .5s ease;
}

.sectionUserPage__formInfo-btn:hover{
  cursor: pointer;
  background-color: #0bca51;
}

.sectionUserPage__formPassSettings{
  margin-top: 30px;
}

.sectionUserPage__formPassSettings-hideBtn{
  top: 36px;
}

.sectionUserPage__formInfo-itemCategoryBlock{
  margin-top: 25px;
}

.sortBlock__optionsBlockAdminForm--active{
  max-height: 165px;
}

.sectionUserPage__adminForm-inputBlock{
  display: block;
  margin-top: 10px;
}

.adminForm__categoryBlock-text{
  font-size: 14px;
}

.sectionUserPage__adminForm-inputBlockMain{
  display: flex;
  align-items: center;
  gap:20px;
}

.infoBlock__inputBlock-leftInputBlockAdminForm{
  max-width: 114px;
}

.sectionUserPage__adminForm-loadImageBlock{
  margin: 20px 0 17px 0;
}

.adminForm__loadImageBlock-title{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.adminForm__loadImageBlock-label{
  display: inline-block; /* ставим display inline-block,чтобы этот label правильно располагался и имел правильные размеры,так как у него еще внутри есть текст  */
  background-color: #fff;
  border: 2px solid #D5EDFD;
  text-transform: uppercase;
  color: #2DA5F3;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 24px;
  font-family: 'Inter',sans-serif;
  opacity: 1;
  transition:opacity .5s ease;
}

.adminForm__loadImageBlock-label:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* скрываем инпут с типом file,чтобы его не было видно,и стилизуем label который привязан к этому инпуту,этот label будет иметь такую же функцию,как и этот инпут */
.adminForm__loadImageBlock-input{
  display: none;
}

.adminForm__imageBlock{
  margin-bottom: 15px;
}

.adminForm__imageBlock-previewImg{
  max-width: 177px;
}